<% include ./partial/header %>
<div
  class="container"
  style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 60px 0 30px 0;
width: 40%;
font-style:arial;
"
>

<form action="/student/<%=student._id%>?_method=PUT" method="POST" style="margin-top: 20px;">
  <div class="row">
    <div class="col">
      <h1 style="text-align:center;">EDIT PROFILE </h1>

      <div class="form-group">
        <label for="name">NAME</label>
        <input class="form-control" type="text" id="name" value="<%= student.name%>" name="student[name]" />
      </div>

      <div class="form-group">
        <label for="username">EMAIL ID</label>
        <input class="form-control" type="text" id="username" value="<%= student.username%>" name="student[username]" />
      </div>

      <div class="form-group">
        <label for="department">DEPARTMENT</label>
        <input class="form-control" type="text" id="department" value="<%= student.department%>" name="student[department]" />
      </div>

      <div class="form-group">
        <label for="hostel">MOBILE NO.</label>
        <input class="form-control" type="text" id="hostel" value="<%= student.hostel%>" name="student[hostel]" />
      </div>

      <div class="form-group">
        <label for="url">IMAGE URL</label>
        <input class="form-control" type="text" id="url" value="<%= student.image%>" name="student[image]" />
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-default btn-block">SUBMIT</button>
      </div>
    </div>
  </div>
</form>
<a href="/student/<%= student.id%>" style="display: block; margin-top: 10px;">BACK</a>

    </div>

<% include ./partial/footer %>
