<% include ./partial/header %>
<% include ./partial/hodfunction %>
<div class="col-sm-6" style="flex: 0 0 50%; max-width: 60%; margin-left: 431px; margin-top: -250px; text-align: center;">
  <table class="content-table" style="margin: 50px auto; min-width: 400px; box-shadow: 0 0 20px rgba(0,0,0,0.15);font-style: arial;">
    <thead>
      <tr style="background-color: rgb(9, 1, 19); color: #ffffff; font-weight: bold;">
        <th>Professor Name</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(function(student) { %>
      <% if (student.leaves.length > 0) { %>
      <% student.leaves.forEach(function(leave) { %>
      <tr>
        <td><%= student.name %></td>
        <td><%= moment(leave.from).format('DD/MM/YYYY') %></td>
        <td><%= moment(leave.to).format('DD/MM/YYYY') %></td>
        <td><%= leave.days %></td>
        <td><%= leave.status %></td>
        <td>
          <% if (leave.status === "pending") { %>
            <div class="col-sm-6">
              <form method="post" action="/hod/<%=hod.id%>/leave/<%=student.id%>/info">
              <input
                type="submit"
                class="btn btn-block btn-success"
                style="width:fit-content"
                name="action"
                value="Approve"
              />
              <input
                type="submit"
                class="btn btn-block btn-danger"
                style="width:fit-content"
                name="action"
                value="Deny"
              />
            </form>
            </div>
          <% } %>
        </td>
      </tr>
      <% }) %>
      <% } %>
      <% }) %>
    </tbody>
  </table>
</div>
<% include ./partial/footer %>
