<% include ./partial/header %>
<% include ./partial/hodfunction %>
<div class="col-sm-6" style="flex: 0 0 50%; max-width: 50%; margin-left: 600px; margin-top: -20%; display: flex; align-items: center;">
  <div class="thumbnail">
      <img style="height:150px;width:150px;border-radius: 100%; border-color: black; border-width: thick;" src="<%=hod.image%>" />
      <div style="display: flex; flex-direction: column;">
          <div style="display: flex; font-weight: bold">
              <div style="width: 170px;">Name:</div>
              <div><%=hod.name%></div>
          </div>
          <div style="display: flex; font-weight: bold;">
              <div style="width: 170px;">Type:</div>
              <div><%=hod.type%></div>
          </div>
          <div style="display: flex; font-weight: bold;">
              <div style="width: 170px;">Email ID:</div>
              <div><%=hod.username%></div>
          </div>
          <div style="display: flex; font-weight: bold;">
              <div style="width: 170px;">Department:</div>
              <div><%=hod.department%></div>
          </div>
      </div>
  </div>
</div>



    <% include ./partial/footer %>
  </div>
</div>
