<% include ./partial/header %> <% include ./partial/wardenfunction%>


<div class="col-sm-6" style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 431px;
margin-top: -251px;  text-align: -webkit-center; font-style:arial;">

<style>
    .thumbnail h4{
      text-align: left;
        font-family: 'Arial', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 10px;
      margin-left: 250px;
    }
    .profile{
      font-family: 'Arial', sans-serif;
    }

</style>
<div class="profile">
      <div class="thumbnail">
        <img style="height:150px;width:150px;border-radius: 100%" src="<%=warden.image%>" />
        <h4><strong>Name:</strong> <%=warden.name%></h4>
        <h4><strong>Type:</strong>Admin</h4>
        <h4><strong>Email ID:</strong> <%=warden.username%></h4>
        <h4><strong>Mobile no.:</strong><%=warden.hostel%></h4>
      </div>
      <a class="btn btn-warning" href="/warden/<%=warden._id%>/edit">Edit</a>
    </div>
  </div>
<% include ./partial/footer %>
